html {
    height: auto;
    width: auto;
}

body {
    height: 100%;
    width: 100%;
}

textarea {
    resize: none;
    width: 900px;
    height: 800px;
}

.input {
    display: flex;
    height: auto;
    width: auto;
    background: antiquewhite;
    flex-direction: column;
}

.output {
    display: flex;
    height: auto;
    width: auto;
    background: aqua;
    flex-direction: column;
}